@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Sora", sans-serif;
  background-color: lightcyan;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 100px auto 0;
  background-color: #fafaf9;
  padding: 100px 3rem;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container > .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.container .row .col-1 .star {
  background-color: #f5c044;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

.container .row .col-1 .star img {
  filter: brightness(150%);
}

.container .row .col-1 .title {
  font-size: 36px;
  margin-bottom: 1rem;
}
.container .row .col-1 .desc {
  max-width: 600px;
  font-size: 1.25rem;
  margin-bottom: 24px;
}

.check-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.check-container .row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-container .row .text {
  font-size: 0.875rem;
  color: #18181b;
}
/* card styles */

.card {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .row .col-1 img {
  width: 90px;
}

.card .row .col-2 img {
}

.card .col-2 {
  display: flex;
  align-items: center;
}

.container > .row > .col-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 2rem;
}
.card .row .desc {
  font-size: 16px;
}

.google {
  grid-row: 1 / span 6;
  grid-column: 5 / span 8;
}

.meta {
  grid-row: 7 / span 6;
  grid-column: 1 / span 9;
}

.card .title {
  margin-top: -6px;
  margin-bottom: 6px;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 70px 1rem;
  }
  .card {
    padding: 12px 1rem;
  }
  .card .row .col-1 img {
    width: 4.375rem;
  }
  .card .row .col-2 img {
    width: 20px;
  }
  :is(.meta, .google) .desc {
    font-size: 12px ;
  }
  .card .title {
    font-size: 14px;
  }
  .check-container .row .text {
    font-size: 0.75rem;
    max-width: 300px;
  }
  .container .row .col-1 .title {
    font-size: 24px;
  }
  .container .row .col-1 .desc {
    font-size: 0.875rem;
  }
  .container > .row {
    grid-template-columns: 1fr;
  }
}
